<form method="post" action="/store" enctype="multipart/form-date">
    <H1> Caracteristicas Principales</H1>
    <br>
    Nombre:
   <input type="text" name="txtNombre" id= "txtNombre">
   <br>
   <br>
    Marca:
   <input type="text" name="txtMarca" id= "txtMarca">
   <br>
   <br>
   Modelo:
   <input type="text" name="txtModelo" id= "txtModelo">
   <br>
   <br>
   Imagenes:
   <input type="file" name="txtImagenes" id= "txtImagenes">
   <br>
   <br>
   Precio por Dia:
   <input type="text" name="txtPreciopordia" id= "txtPreciopordia">
   <br>
   <br>
   <H1> Caracteristicas adicionales</H1>
   <br>
    Capacidad de Personas:
   <input type="text" name="txtCapacidadPersonas" id= "txtCapacidadPersonas">
   <br>
   <br>
    Tipo de Caja Manual:
   <input type="checkbox" name="txtTipoCaja" id= "txtTipoCaja">                     
   <br>
   <br>
   Cantidad de Puertas:
   <input type="text" name="txtCantidadPuertas" id= "txtCantidadPuertas">
   <br>
   <br>
   Tiene Aire Acondionado:
   <input type="checkbox" name="txtAireAcondicionado" id= "txtAireAcondicionado">  
   <br>
   <br>
   Kilometraje:
   <input type="text" name="txtkilometraje" id= "txtkilometraje">
   <br>
   <br>
   Capacidad de Equipaje:
   <input type="text" name="txtcapacidadequipaje" id= "txtcapacidadequipaje">
   <br>
   <br>
    <input type="submit" value="Agregar">
</form>

